  body{
    /*background-color: rgb(3, 138, 210);*/
  }
  .content{
    width: 350px;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%,-50%);
   
    padding: 20px;
    text-align: center;

  }
  .print-area{
      background-color: #ffff;

  }
  #bname{
    width: 50%;
  margin-top:4vh;
  
    padding: 5px 10px;
   border: 3px solid white;
   border-radius: 20px;
    font-size: 17px;
   
  
    
  }
  #bid{
    width: 50%;
  /*margin-top:4vh;*/
  
    padding: 5px 10px;
   border: 3px solid white;
   border-radius: 20px;
    font-size: 17px;
  }
   #bname1{
    width: 50%;
  margin-top:4vh;
  
    padding: 5px 10px;
   border: 3px solid white;
   border-radius: 20px;
    font-size: 17px;
   
  
    
  }
    #bname2{
    width: 50%;
  margin-top:4vh;
    padding: 5px 10px;
   border: 3px solid white;
   border-radius: 20px;
    font-size: 17px;
   
  
    
  }
   #sub{
    width: 30%;
  
    padding: 5px 10px;
   border: 2px solid white;
   border-radius: 20px;
    font-size: 17px;
    color: white;
        font-family: "Impact";
        position: absolute;
        right: 70%;
        top: 105%;
        background-color: yellowgreen;

   }

    #genbar{
    width: 30%;
 
    padding: 5px 10px;
   border: 5px solid #414e66;
   border-radius: 20px;
    font-size: 17px;
    color: #414e66;
        font-family: "Impact";

   }


   #date{
    width: 50%;
  
    padding: 5px 10px;
   border: 5px solid #414e66;
   border-radius: 20px;
    font-size: 17px;
   
  
    
  }
 
  #barcode{
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    width: 300px;
    margin: 30px 0px 30px 0px;
  }
  #btn{
    padding: 12px 40px;
    background-color: rgb(2, 103, 66);
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 3px;
  }
  #text{
    color: orangered;
  }
  *{
  margin: 0px;
  padding: 0px;
}
body{
  
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  
}
#dashbody{
  background-image: url("bg9.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  
}
#dashboardpanel{
  background-color:#dde8ed;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lgnout{

  display: flex;
  align-items: center;
  height: 70%;
background-color: #414e66;
margin-right: 1%;
  padding-right: 1%;
  padding-left: 1%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: bold;
  border-radius: 20px;

}


a:link { text-decoration: none;
 }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;
 }


a:active { text-decoration: none; }

a{
  color: white;

}
.admnname{
  
  height: 90%;
  width: 15%;
  text-align: center;
  margin-right: 2%;
  border-radius: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 120%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #665941;
  padding-right: 1%;
}
img{
  border-radius: 70%;
  height: 70%;
  margin-right: 7%;
  position: relative;

}

.logo{
  height: 450%;
  position: relative;
  top: 70%;
  right: 52.3%;
}

#addNewFeature{
  font-size: 35px;
    color: #414e66;
    padding-top: 13%;
    padding-left: 35%;
    background-color: #414e66;
    height: 50vh;
    width: 25vw;
    left: 20vw;
    border-radius: 20px;
    color: white;


}
.dshboard{

  display: flex;
  align-items: center;
  height: 70%;
background-color: indianred;
margin-right: 1%;
  padding-right: 1%;
  padding-left: 1%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: bold;
  border-radius: 20px;

}

#input{
  position: absolute;
  
  top: 20%;
    font-family: "Impact";
    width: 40%;
    left: 30vw;

}
#displayErrorBox{
  /* background-color: red; */
  /* z-index: 3; */
  position: absolute;
  visibility: hidden;
  top: 40vh;
  left: 30vw;
  width: 20%;
  height: 4%;
  color:yellowgreen;
  font-size: large;
}
#displayErrorBox2{
  /* background-color: red; */
  /* z-index: 3; */
  position: absolute;
  visibility: hidden;
  top: 40vh;
  left: 30vw;
  width: 20%;
  height: 4%;
  color:indianred;
  font-size: large;
}
#register{
color: indianred;
display: flex;
align-items: center;
justify-content: center;
}
label{
  width: 15vw;
  display: inline-block;
}
input{
  display: inline;
  position: absolute;

}

#gen{
  background-color: green;
  color: red;
}
#img1{
  display: flex;
  align-items: center;
  justify-content: center;
  /*position: absolute;*/
  height: 25vh;
}
#mainbox{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#l2{
  margin-top: 4vh;
  
}
#l3{
  margin-top: 4vh;
}
#l4{
  margin-top: 4vh;
}